
@font-face {
  font-family: 'MarkGEOCAPS-Bold';
  src: url('../fonts/MarkGEOCAPS-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MarkGEOCAPS-Bold.woff') format('woff'), 
  url('../fonts/MarkGEOCAPS-Bold.ttf')  format('truetype'), url('../fonts/MarkGEOCAPS-Bold.svg#MarkGEOCAPS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPGGlaho';
  src: url('../fonts/BPGGlaho.eot?#iefix') format('embedded-opentype'),  url('../fonts/BPGGlaho.woff') format('woff'),
   url('../fonts/BPGGlaho.ttf')  format('truetype'), url('../fonts/BPGGlaho.svg#BPGGlaho') format('svg');
  font-weight: normal;
  font-style: normal;
}
